{% extends "UCAS_clear/layout.html" %}
{% load static %}
{% load UCAS_clear_extras %}

{% block body %}

    <div class="container mt-5">
        
        <h2>Search for courses</h2>

        <form action="{% url 'homepage' %}" method="get">

        {{filtered_courses.form.as_p}}

        <button type="submit" class="btn btn-primary" style="background-color: #f8f9fa; border: 1px solid #f8f9fa; border-radius: 4px; color: #3c4043;">Search for clearing courses</button>

        </form>
    
    </div>


     <div class="container mt-5">

        <h2>Courses you might be interested in:</h2>
        <p>**Click on a course to view it**</p>

        <table class="table table-striped mt-3 mb-5">
            <thead>
                <tr>
                <th scope="col">University</th>
                <th scope="col">Courses</th>
                <th scope="col">Available Places</th>
                <th scope="col">UCAS Points Required</th>
                </tr>
            </thead>
            <tbody>

            {% for course in course_page_object %}

                <tr>
                    <th scope="row">{{course.university_name}}</th>
                    <td><a class="nav-link" href="{% url 'course' course.id %}">{{course.course_name}}</a></td>
                    <td>{{course.course_spaces}}</td>
                    <td>{{course.ucas_points}}</td>
                </tr>

            {% endfor %}


            </tbody>

        </table> 

        <div class="pagination">
            <span class="step-links">
                {% if course_page_object.has_previous %}
                    <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
                    <a href="{% my_url course_page_object.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
            
                {% endif %}

                <span class="current">
                    Page {{course_page_object.number}} of {{course_page_object.paginator.num_pages}}
                </span>

                {% if course_page_object.has_next %}
                    <a href="{% my_url course_page_object.next_page_number 'page' request.GET.urlencode %}">Next</a>
                    <a href="{% my_url course_page_object.paginator.num_pages 'page' request.GET.urlencode %}">&raquo; Last</a>
            
                {% endif %}


            </span>
        </div> 



{% endblock %}