{% extends "UCAS_clear/layout.html" %}
{% load static %}

{% block body %}

     <div class="container mt-5">

     <h2>Search for courses</h2>

        <form action="https://google.com/search">
            <div class="form-group pt-5 ">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <input type="text" class="form-control" id="formGroupExampleInput"  name="q" placeholder="Search...">
                    </div>
                </div>
                <div class="row justify-content-center pt-3">
                    <div>
                        <button type="submit" class="btn btn-primary" style="background-color: #f8f9fa; border: 1px solid #f8f9fa; border-radius: 4px; color: #3c4043;">Search for clearing courses</button>
                    </div>
                </div>
            </div>
        </form>
    
    </div>


    <div class="container mt-5">

    <h2>Courses you might be interested in:</h2>
    <p>**Click on a course to view it**</p>

    <table class="table table-striped mt-3 mb-5">
        <thead>
            <tr>
            <th scope="col">University</th>
            <th scope="col">Courses</th>
            <th scope="col">Available Places</th>
            <th scope="col">UCAS Points Required</th>
            </tr>
        </thead>
        <tbody>

        {% for course in courses %}{{loop.index}}

                <tr>
                    <th scope="row">{{course.university_name}}</th>
                    <td><a class="nav-link" href="{% url 'course' course.id %}">{{course.course_name}}</a></td>
                    <td>{{course.course_spaces}}</td>
                    <td>{{course.ucas_points}}</td>
                </tr>

        {% endfor %}

        </tbody>
    </table>

    </div>





{% endblock %}