{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}UCAS_clear{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
        <link href="{% static 'UCAS_clear/styles.css' %}" rel="stylesheet">
        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body>

    <div class="d-flex flex-column min-vh-100">

       <nav class="navbar navbar-expand-lg" style="color:white;">
                <a class="navbar-brand crop" href="{% url 'index' %}">
                    <img src="{% static 'UCAS_clear/images/UCAS_logo.png' %}"  alt="no" height="60">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Clearing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage' %}">Search Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userpage' %}">Your UCAS Profile</a>
                    </li>

                    <li class="nav-item">
                        <p class="navbar-text">
                            {% if user.is_authenticated %}
                                Signed in as <strong>{{ user.username }}</strong>.
                            {% else %}

                            {% endif %}
                        </p>
                    </li>

                     <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a id="logout" class="nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <ul class="navbar-nav ml-auto">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                                <a id="login" class="nav-link" href="{% url 'login' %}">Login</a>
                            </ul>
                        {% endif %}
                    </li>

                </ul>

            </div>
        </nav>

        {% block body %}
        {% endblock %}

        </main>
        
    </body>

    
    
        <footer class="footer mt-4 pt-4">
            <div class="container">
                <div class="content">
                    <div class="content-left">
                        <div class="contacts">
                            <a href="#">Contact Us</a>
                            <a href="#">Feedbacks</a>
                        </div>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="crc">
                            <a href="#">Avisiors</a>
                            <a href="#">Providers</a>
                            <a href="#">Supporters</a>
                        </div>

                        <div class="crc">
                            <a href="#">About us</a>
                            <a href="#">Work with us</a>
                            <a href="#">Accessibility</a>
                            <a href="#">Opportunities</a>
                        </div>

                        <div class="crc">
                            <a href="#">Terms and conditions</a>
                            <a href="#">Cookies and Privacy</a>
                            <a href="#">Groceries</a>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="img">
                        <img src="{% static 'UCAS_clear/images/UCAS_logo_nobg.png' %}"  alt="no" height="60" alt="">
                    </div>
                    <p>2021 &copy; All right reserverd.</p>
                </div>
            </div>
        </footer>

    </div>


</html>
