{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}UCAS_clear{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link href="{% static 'UCAS_clear/styles.css' %}" rel="stylesheet">
        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body>

    <div class="d-flex flex-column min-vh-100">

       <nav class="navbar navbar-expand-lg" style="color:white;">
                <a class="navbar-brand crop" href="">
                    <img src="{% static 'UCAS_clear/images/UCAS_logo.png' %}"  alt="no" height="60">
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="">Active Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            Watchlist
                            <span class="badge badge-primary badge-pill">{{ user.watchlist.count }}</span>
                        </a>
    
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">Create Listing</a>
                    </li>

                    <li class="nav-item">
                        <p class="navbar-text">
                            {% if user.is_authenticated %}
                                Signed in as <strong>{{ user.username }}</strong>.
                            {% else %}

                            {% endif %}
                        </p>
                    </li>

                     <li class="nav-item">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <ul class="navbar-nav ml-auto">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </ul>
                        {% endif %}
                    </li>

                </ul>
                
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        </main>
        
    </body>

    
    
        <footer class="footer mt-4 pt-4">
            <div class="container">
            </div>
        </footer>

    </div>


</html>
