{% extends "UCAS_clear/layout.html" %}
{% load static %}

{% block body %}

    <form class="form-signin" action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="register_crop">
              
          <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="">
          <input type="password" class="form-control" name="password" placeholder="Password" required="">
          <input class="btn btn-sm btn-primary btn-block" type="submit" value="Login">
          <p style="margin-top: 30px;">Don't have an accout?  <a href="{% url 'register' %}">Register here.</a> </p>
          
  </form>

{% endblock %}