{% extends "UCAS_clear/layout.html" %} {% load static %} {% block body %}

<div class="userpage-container">
	<div class="user-details">
		<div class="user-details-left">
			<div class="username">
				<h2>Daniel Newton</h2>
				<p>
					<span class="candidate-id">USC198</span>,
					<span class="ucas-score">250</span>
				</p>
			</div>
			<div class="user-preferences">
				<div class="current-preference">
					<h2>Your current preference</h2>
					<span>Edit</span>
				</div>
				<div class="course-details">
					<p>Course : <span>Computer Science</span></p>
					<p>Level of Study : <span>Undergraduate</span></p>
					<p>Study Mode : <span>Full-time</span></p>
					<p>Course Length : <span>4 years</span></p>
				</div>
			</div>
		</div>
		<div class="user-details-right">
			<a href="#">View/Edit Documents</a>
			<img class="userimage" src="../../static/UCAS_clear/images/face.jpg" />
		</div>
	</div>
	<div class="user-application-details">
		<div class="latest-updates">
			<h3>Latest update</h3>
			<p>
				Unfortunately, your application for This University has been rejected.
				This University has been added to the list of your rejections.
			</p>
		</div>
		<div class="current-applications">
			<h3>Your current applications</h3>
			<ul id="application-ul">
				<li class="uni-status">
					<div class="uni">University Name</div>
					<div class="course">
						<p>Bio medical</p>
						<span>BSc(Hons)</span>
					</div>
					<div class="pool">
						<p><span>10</span> Openings, <span>40</span> in pool</p>
						<div class="duration">
							<span>4 years</span> <span>Full-time</span>
						</div>
					</div>
					<div class="date">10/2021</div>
					<div class="status">
						<p>Status: <span>Pending</span></p>
						<a href="#">View application</a>
					</div>
				</li>
				<li class="uni-status">
					<div class="uni">University Name</div>
					<div class="course">
						<p>Bio medical</p>
						<span>BSc(Hons)</span>
					</div>
					<div class="pool">
						<p><span>10</span> Openings, <span>40</span> in pool</p>
						<div class="duration">
							<span>4 years</span> <span>Full-time</span>
						</div>
					</div>
					<div class="date">10/2021</div>
					<div class="status">
						<p>Status: <span>Pending</span></p>
						<a href="#">View application</a>
					</div>
				</li>
				<li class="uni-status">
					<div class="uni">University Name</div>
					<div class="course">
						<p>Bio medical</p>
						<span>BSc(Hons)</span>
					</div>
					<div class="pool">
						<p><span>10</span> Openings, <span>40</span> in pool</p>
						<div class="duration">
							<span>4 years</span> <span>Full-time</span>
						</div>
					</div>
					<div class="date">10/2021</div>
					<div class="status">
						<p>Status: <span>Pending</span></p>
						<a href="#">View application</a>
					</div>
				</li>
				<li class="uni-status">
					<div class="uni">University Name</div>
					<div class="course">
						<p>Bio medical</p>
						<span>BSc(Hons)</span>
					</div>
					<div class="pool">
						<p><span>10</span> Openings, <span>40</span> in pool</p>
						<div class="duration">
							<span>4 years</span> <span>Full-time</span>
						</div>
					</div>
					<div class="date">10/2021</div>
					<div class="status">
						<p>Status: <span>Pending</span></p>
						<a href="#">View application</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="previous-applications">
			<h3>Your previous rejections</h3>
			<ul id="application-ul">
				<li class="uni-status">
					<div class="uni">University Name</div>
					<div class="course">
						<p>Bio medical</p>
						<span>BSc(Hons)</span>
					</div>
					<div class="pool">
						<p><span>10</span> Openings, <span>40</span> in pool</p>
						<div class="duration">
							<span>4 years</span> <span>Full-time</span>
						</div>
					</div>
					<div class="date">10/2021</div>
					<div class="status">
						<p>Status: <span>Rejected!!</span></p>
						<a href="#">View application</a>
					</div>
				</li>
				<li class="uni-status">
					<div class="uni">University Name</div>
					<div class="course">
						<p>Bio medical</p>
						<span>BSc(Hons)</span>
					</div>
					<div class="pool">
						<p><span>10</span> Openings, <span>40</span> in pool</p>
						<div class="duration">
							<span>4 years</span> <span>Full-time</span>
						</div>
					</div>
					<div class="date">10/2021</div>
					<div class="status">
						<p>Status: <span>Rejected!!</span></p>
						<a href="#">View application</a>
					</div>
				</li>
				<li class="uni-status">
					<div class="uni">University Name</div>
					<div class="course">
						<p>Bio medical</p>
						<span>BSc(Hons)</span>
					</div>
					<div class="pool">
						<p><span>10</span> Openings, <span>40</span> in pool</p>
						<div class="duration">
							<span>4 years</span> <span>Full-time</span>
						</div>
					</div>
					<div class="date">10/2021</div>
					<div class="status">
						<p>Status: <span>Rejected!!</span></p>
						<a href="#">View application</a>
					</div>
				</li>
				<li class="uni-status">
					<div class="uni">University Name</div>
					<div class="course">
						<p>Bio medical</p>
						<span>BSc(Hons)</span>
					</div>
					<div class="pool">
						<p><span>10</span> Openings, <span>40</span> in pool</p>
						<div class="duration">
							<span>4 years</span> <span>Full-time</span>
						</div>
					</div>
					<div class="date">10/2021</div>
					<div class="status">
						<p>Status: <span>Rejected!!</span></p>
						<a href="#">View application</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}
